<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css1.css">
    
</head>
<body>
    
    
    <table border="0" align="center" cellpadding="30px" cellspacing="30px">
        <form action="">
        <tr class="top" >
           
            <th class="top1" >Facebook welcome page </th>
            <th></th>
            <th><input type="text" placeholder="Username/mobilenumber" class="box"> <input type="text" class="box" placeholder="Enter password"> <input type="button" class="sub" value="submit"></th>
            <th></th>
            
        </tr>
        
        <tr>
            <th rowspan="4"></th>
            <th><p >Connect with friends and the world around you on facebook</p></th>
            <th class="sign"> Sign Up</th>
            <th rowspan="4" class="space"></th>
        </tr>
        <tr><td class="space">
            
            <img src="/download.jpg" alt="image" width="60px"><br>
            <img src="/download.jpg" alt="image" width="60px"><br>
            <img src="/download.jpg" alt="image" width="60px">
        </td>

        <td >
            <input type="text" name="" class="box" placeholder="Firstname" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="" class="box" placeholder="Lastname"> <br> <br>
            <input type="text" name="" class="box1" placeholder="mobile number or email address"> <br><br>
            <input type="password" name="" class="box1" placeholder="password"> <br><br>
            <input type="button" name="" id="button" value="Sign Up" >
            <input type="button" name="" id="button" value="Clear" >
        </td>
    
    
        </tr>
        <tr><td rowspan="2" colspan="2"></td></tr>
    </form>

    </table>


</body>
</html>